<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nomad Sitters</title>
    <nav>
        <a href="/nomadsitters">Home</a>
        <a href="/nomadsitters">Profile</a>
        <a href="/nomadsitters/index">Jobs</a>
        <a href="/nomadsitters">Community</a>
        <a href="/nomadsitters/new">Add Listing</a>
    </nav>
</head>
</html>