<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Nomad Sitters</title>
    <nav class="headernav">
        <a href="/nomadsitters">Home</a>
        <a href="/nomadsitters/about">About</a>
        <!-- <a href="/nomadsitters">Profile</a> -->
        <a href="/nomadsitters/index">Jobs</a>
        <!-- <a href="/nomadsitters/commuinty">Community</a> -->
        <a href="/nomadsitters/new">Add Listing</a>
            <div style="float: right" class="sign">
                <a href="/users/signin">Sign In</a>
                <!-- <a href="/users/register">Register</a> -->
            </div>
    </nav>
    
</head>
</html>