<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
<body>
    <h1 class="mission">Our Mission</h1>
    <p class="about">Nomad Sitters started out as a facebook group that blossomed into an international community of travellers. 
        We are a community of trusted sitters so that you can travel with peace of mind, knowing
        that your home and beloved pets are well-cared for.
    </p>
    <br>
    <h2 class="mission">Benefits of Having a House Sitter</h2>
    <p class="about">Nowadays, many homeowners have security systems, but who will water your plants while you're away, bring in the mail, 
        or handle minor repairs in the event of an emergency (ie. flooding, storm damage, power outage)? 
        While not all in the nomad sitters community have pets, many do and they all agree that leaving your pet at home 
        is much more comfortable than leaving them in an unfamiliar, loud, and stress-inducing boarding facility.
    </p>
    <div class="aboutimgs">
        <img src="/images/img4.jpg">
        <img src="/images/img6.jpg">
        <img src="/images/img7.jpg">
    </div>
</body>
<footer>
    <%- include ('./partials/footer.ejs') %>
</footer>
</html>