<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <!-- <title>International House & Pet Sitting</title> -->
<body>
    <div class="imgSlides">
        <span id="slide-1"></span>
        <span id="slide-2"></span>
        <span id="slide-3"></span>
        <div class="image-container">
          <img src="/images/img1.jpg" class="slide" width="500" height="300" />
          <img src="/images/img2.jpg" class="slide" width="500" height="300" />
          <img src="/images/img3.jpg" class="slide" width="500" height="300" />
        </div>
        <div class="buttons">
          <a href="#slide-1"></a>
          <a href="#slide-2"></a>
          <a href="#slide-3"></a>
        </div>
      </div>
    <h1>Nomad Sitters</h1>
    <h2>Join the nomad community and find a sitter or job perfect for you!</h2>
    <!-- <button><a href="/index">Find a Home to Sit</a></button> -->
</body>
<footer>
    <%- include ('./partials/footer.ejs') %>
</footer>
</html>