<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <div>
            
        </div>
        <h3><% if(currentUser){ %>
            Welcome
        <%=currentUser%>!<% } %> </h3>
        <h1>Nomad Sitters</h1>
        <div class="slider-container">
            <div class="menu">
            <label for="slide-dot-1"></label>
            <label for="slide-dot-2"></label>
            <label for="slide-dot-3"></label>
            </div>
            
            <input id="slide-dot-1" type="radio" name="slides" checked>
                <div class="slide slide-1"></div>
            
            <input id="slide-dot-2" type="radio" name="slides">
            <div class="slide slide-2"></div>
            
            <input id="slide-dot-3" type="radio" name="slides">
            <div class="slide slide-3"></div>
        </div>
        <h2 style="padding-bottom: 2rem;">Join the nomad community and find a sitter or job perfect for you!</h2>
    </body>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</html>