<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <!-- <title>International House & Pet Sitting</title> -->
<body>
    <h1>Nomad Sitters</h1>
    <h2>Join the nomad community and find a sitter or job perfect for you!</h2>
    <button><a href="/index">Find a Home to Sit</a></button>
    <img>
</body>
<footer>
    <%- include ('./partials/footer.ejs') %>
</footer>
</html>