<!DOCTYPE html>
<html>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <h1>Find the perfect home away from home</h1>
        <ul class="list">
            <% for(let i = 0; i < nomadsits.length; i++){ %>
                <li>
                    <div class="index">
                        <a class="indexitems" href="/nomadsitters/<%=nomadsits[i].id %>">
                            <p style="font-size: 18px;"><%=nomadsits[i].title; %></p>
                            <p style="font-size: 14px;"><%=nomadsits[i].country; %></p></a>
                    </div>
                </li>
            <% } %>
        </ul>
    </body>
</html>