<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
	<body>
		<h1>Create a New Listing</h1>
		<form action="/nomadsitters/index" method="POST">
			Title: <input type="text" name="title" /><br>
			Country: <input type="text" name="country" /><br>
            City: <input type="text" name="city" /><br>
            Date: <input type="text" name="date" placeholder="01/01/25 - 02/02/25"/><br>
			Housesit: <input type="checkbox" name="housesit" /><br>
            Petsit: <input type="checkbox" name="petsit" /><br>
			<input type="submit" name="" value="Add Listing" />
		</form>
	</body>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</html>