<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
	<body>
		<h1>Create a New Listing</h1>
		<form action="/nomadsitters/index" method="POST">
            <div class="new">
                Title: <input class="newform" type="text" name="title" />
                Country: <input class="newform" type="text" name="country" />
                City: <input class="newform" type="text" name="city" />
                Date: <input class="newform" type="text" name="date" placeholder="01/01/25 - 02/02/25"/>
            </div>
            <div class="sitcheck">
                Housesit: <input class="sitchecklab" type="checkbox" name="housesit" />
                Petsit: <input  class="sitchecklab" type="checkbox" name="petsit" />
            </div><br>
            <div class="newsub" >
                <input type="submit" name="" value="Add Listing" />
            </div>
		</form>
	</body>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</html>