@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC&family=Gruppo&family=Kalam:wght@300&family=Rampart+One&family=Satisfy&family=Shantell+Sans:wght@300&family=Sigmar+One&display=swap');
body {
    background-color: rgb(16, 16, 76);
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: pink; 
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Amatic SC', cursive;
    font-family: 'Gruppo', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Rampart One', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Shantell Sans', cursive;
    font-family: 'Sigmar One', cursive; */
}
h1 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Sigmar One', cursive;
    padding-top: 0;
    color: pink; 
}
h2 {
    padding: 5px;
    color: pink; 
    font-family: 'Amatic SC', cursive;
}
.signinreg {
    display: flex;
    padding: 20px;
    width: 200px;
    line-height: 40px;
    margin: auto;
    
}
.label {
    letter-spacing: 1px;
    font-family: 'Amatic SC', cursive;
}
.collagerow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.collagecol {
    flex: 50%;
    padding: 0 4px;
}
.collagecol img {
    margin-top: 8px;
    vertical-align: middle;
    height: 200px;
}
.show {
    padding: 30px;
    width: 80%;
    justify-content: center;
    margin: auto;
}
.showdiv {
    padding: 15px;
    line-height: 30px;
    font-family: 'Shantell Sans', cursive;
}
.showimgs {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: center;
    height: 250px;

}
/* .trash {
    cursor: pointer;
    fill:  rgb(216, 47, 75);
    width: 15px;
    background-image: url("/icons/trash3.svg");
    height: 15px;
    margin: auto;
}
.trash:hover {
    visibility: visible;
} */ 
.mission {
    letter-spacing: 2px;
    font-family: 'Sigmar One', cursive;
    color: pink; 
}
.about {
    width: 70%;
    color: pink; 
    font-family: 'Kalam', cursive;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.aboutimgs {
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: center;
    height: 200px;
}
.edit {
    background-color: rgb(216, 47, 75);
    color: rgb(221, 184, 19);
    border: none; 
    text-decoration: none;
    padding: 4px 12px;
    font-size: 27px;
}
/* .editParts {
    line-height: 20px;
} */
.delete {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    background-color: rgb(216, 47, 75);
    color: rgb(221, 184, 19);
    border: none;
    text-decoration: none;
    padding: 3px 9px;
    font-size: 22px;
}
header {
    text-align: left;
}
footer {
    color: pink;
    position: fixed;
    bottom: 2px;
    width: 100%;
    text-align: center;
    word-spacing: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}
.headernav {
    padding: 15px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold; 
    left: 10px;
}
.sign {
    font-family: 'Amatic SC', cursive;
    font-weight: bold; 
}
a {
    text-decoration: none;
    padding: 5px;
    color: pink; 
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
li {
    list-style-type: none;
}
.index {
    display: grid;
    padding: 10px 5px; 
    margin: auto; 
    width: 250px; 
    line-height: 24px;
}
.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    width: 65%;
    margin: auto;
}
.indexitems {
    border-color: rgb(226, 173, 13);
    border-style: solid;
    padding: 5px;
    font-family: 'Amatic SC', cursive;
}
.new {
    display: grid;
    gap: 10px 0px;
    width: 30%;
    margin: auto;
}
.newform {
    padding: 10px;
    grid-column: 2;
}
.sitcheck {
    padding: 10px;
    display: grid;
    gap: 6px 0px;
    width: 10%;
    margin: auto;
    
}
.sitchecklab {
    padding: 10px;
    grid-column: 2;
}
.newsub {
    display: inline;
    padding: 10px;
    justify-content: center;
}
/* Image Slider */
html, body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
}
img {
    max-width: 70%;
}
.slider-container{
    height: 60%;
    width: 98%;
    position: relative;
    overflow: hidden; 
    text-align: center;
    margin: auto;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}
[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}
.slide-1 {
    content: url("/images/img1.jpg");
}
.slide-2 {
    content: url("/images/img2.jpg");
}
.slide-3 {
    content: url("/images/img3.jpg");
}
