@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC&family=Gruppo&family=Kalam:wght@300&family=Rampart+One&family=Satisfy&family=Shantell+Sans:wght@300&family=Sigmar+One&display=swap');
body {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Abel', sans-serif;
    /* font-family: 'Amatic SC', cursive;
    font-family: 'Gruppo', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Rampart One', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Shantell Sans', cursive;
    font-family: 'Sigmar One', cursive; */
}
h1 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-family: 'Rampart One', cursive;
}
header {
    /* display: flexbox;
    flex-direction: row; */
    /* align-items: left;
    justify-content: left; */
    text-align: left;
}
.headernav {
    padding: 15px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold; 
    left: 10px;
}
.signinreg {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;  
}
a {
    text-decoration: none;
    padding: 5px;
}
.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .imgSlides {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }