<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign In</h1>
    <form action="/users/signin" method="POST">
      <fieldset class="signinreg" >
        <label class="label" for="username">Username: </label>
        <input type="text" name="username">
      </fieldset>
      <fieldset class="signinreg" >
        <label class="label" for="password">Password: </label>
        <input type="password" name="password">
      </fieldset><br>
      <input type="submit" value="Sign In">
      <p>Don't have an account?<a style="text-decoration: none;" href="/users/register"> Register</a></p>
      <nav style="padding: 10px; font-size: 16px;">
        <a href="/nomadsitters">Continue to site without signing in</a>
      </nav>
    </form>
    <h2 style="font-size: 30px;">Travel Awaits</h2>
    <div class="collagerow">
      <div class="collagecol">
        <img src="/images/travel1.jpg">
        <img src="/images/travel3.jpg">
        <img src="/images/travel4.jpg">
      </div>
      <div class="collagecol">
        <img src="/images/travel5.jpg">
        <img src="/images/travel6.jpg">
        <img src="/images/travel7.jpg">
      </div>
      <div class="collagecol">
        <img src="/images/travel8.jpg">
        <img src="/images/travel9.jpg">
        <img src="/images/travel12.jpg">
        <img src="/images/travel13.jpg">
      </div>
      <div class="collagecol">
        <img src="/images/travel11.jpg"> 
        <img src="/images/travel10.jpg">
        <img src="/images/travel2.jpg">
      </div>
    </div>
  </body>
  <footer>
    <%- include ('../partials/footer.ejs') %>
  </footer>
</html>